body {
    background-color: aqua;
}

.container {
    width: 1000px;
    background-color: transparent;
    margin: auto;
    padding: 20px;
    
}

.h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,

}